@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: antiquewhite;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
